* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .box {
    width: 100px;
    height: 100px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
    }
    
    .box1 {
    background-color: red;
    transition: width 2s ease-in-out;
    }
    
    .box1:hover{
        width: 300px;
    }

    .box2 {
    background-color: green;
    transition: width 2s;
    }
    .box2:hover{
        width: 300px;
    }
    .box2:hover +.box3{
        width: 300px;
    }
    
    .box3 {
    background-color: yellow;
    transition: width 2s 2s;
    }
    .chal_4{
        position: absolute;
        text-align:center;
        width:200px;
        top:50%;
        transform:translate(0 -50%);
        font-size:24pt;
        left: 300px;
    }
    .content {
        position: absolute;
        text-align:center;
        width:200px;
        top:50%;
        transform:translate(0 -50%);
        font-size:24pt;
        margin-top: 100px;
      }
    .box4_1{
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0px;
        left: 100px;
        background: yellow;
        transform-origin: top right;
        transition: all 1s;
    }
    .box4_2{
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 0px;
        top: 100px;
        background: blue;
        transform-origin: bottom left;
        transition: all 1s;
    }
    .box4_3{
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0px;
        left: 0px;
        background: red;
        transform-origin: top left;
        transition: all 1s;
    }
    .box4_4{
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 100px;
        top: 100px;
        background: green;
        transform-origin: bottom right;
        transition: all 1s;
    }
    .chal_4:hover .box4_1 {
        transform: rotateZ(-90deg);
    }
    .chal_4:hover .box4_2 {
        transform: rotateZ(-90deg);
    }
    .chal_4:hover .box4_3 {
        transform: rotateZ(90deg);
    }
    .chal_4:hover .box4_4 {
        transform: rotateZ(90deg);
    }
    .element {
        /* position: absolute; */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: greenyellow;
        /* animation: pulse 5s linear alternate infinite; */
    }
    body{
        position: relative;
    }
    
    @keyframes pulse {
        0% {
            left: -120px;
            transform: rotate(0deg);
        }
        50%{
            left: 50%;
            transform: rotate(180deg);
        }
        100% {
            left: 100%;
            transform: rotate(360deg);
        }
    }
    .submit{
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        border: solid rgb(60, 175, 60);
        color: rgb(60, 175, 60);
        width: 300px;
        height: 150px;
        font-size: xx-large;
        border-radius: 150px;
    }
    .check{
        color: rgb(10, 10, 10);
        width: 50px;
        opacity: 0%;
    }
    button:hover{
        animation: ease-in .5s cicle;
        /* animation: check 1s; */
    }
    button:hover{
        animation: check 1s ;

    }
    @keyframes cicle{
        0% {
        }
        50%{
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        100% {
            background-color: rgb(60, 175, 60);

        }
    }
    @keyframes check{
        0%{
            opacity: 0%;
        }
        100%{
            opacity: 100%;
        }

    }