.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(37, 80, 54);
    padding: 25px;
    font-family: fantasy;
    border-radius: 6px;
    color: black;
}
i{
    font-size: xx-large;
}
.home_title{
    display: flex;
    border: 5px black;
    align-items: center;
    width: 50%;
}
.letters{
    margin-left: 5px;
}
.home_links{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: larger;
}
main{
    height: 85em;
}
/* .card{
    position: absolute;
    top: 20px;
    right: 2vw;
    height: 50px;
    width: 50px;
    background-color: goldenrod;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.top{
    position: relative;
    height: 200px;
    width: 400px;
    background-color:darkviolet;
}
.bottom{
    height: 200px;
    width: 400px;
    background-color:mediumseagreen;
} */
.frontend_mentor{
    background-image: "/image/background.svg";
}
.footer{
    display: flex;
    align-items: center;
}
.home_link{
    text-decoration: none;
    color: black;
}
.home_link:hover{
    color: greenyellow;
    box-shadow: 10px 5px 5px black;
}

input{
    margin-right: 1rem;
}
form {
    width: 90%;
    margin: 3em auto;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
    font-size: smaller;
    justify-content: center;
}
label{
    display: block;
    margin-bottom: 2em;
}
.form_box{
    display: flex;
    flex-direction: row;
    width: auto;
}
.title_box{
    width: 20em;
}
.form_sub_box{
    display: flex;
    flex-direction: row;
}
.address_box{
    width: 39em;
}
.email_box{
    height: 2em;
    margin-bottom: 2em;
}
.upload_button{
    width: 10em;
    height: 2em;
}
.positions{
    height: 2em;
    margin-bottom: 2em;
}
.photo_button{
    width: 20em;
    height: 2em;   
     
}
.submit{
    display: flex;
    justify-content: center;
}
.symbol{
    color: red;
}
.terms{
    text-decoration: none;
    color: aqua;
}