.header{
    display: flex;
    justify-content: space-between;
    height: 125px;
    background-color: rgb(37, 80, 54);
    padding: 25px;
}
.home_title{
    display: flex;
    border: 5px black;
    align-items: center;
    width: 50%;
}
.letters{
    margin-left: 5px;
}
.home_links{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    font-size: larger;
}
.footer{
    display: flex;
    align-items: center;
}
.home_link{
    text-decoration: none;
    color: black;
}
.home_link:hover{
    color: greenyellow;
    box-shadow: 10px 5px 5px black;
}