* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(79, 140, 145);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    padding: .75em 0;
}

.choice-container div {
    width: 45%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 1em;
    /* clamp(min(fixed), preferred(rel), max(fixed)) */
    font-size: clamp(14px, 3vw, 40px);
}

img {
    width: 90%;
    height: auto;
    margin: 1em 0;
}

button {
    margin: 1em .5em;
    padding: .5em .75em;
    font-size: clamp(16px, 3vw, 32px);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(32, 65, 175);
    color:rgb(197, 212, 226)
}
button:hover{
    border: 5px black;
    color: yellow;
}
.scores{
    display: flex;
    flex-direction: row;
}
.comp-score{
    display: flex;
    margin-left: 50px;
}
.user-score{
    display: flex;
    margin-right: 50px;
}
.reset{
    background-color: red;
}