.image{
    border: 5px;
    border-style: dashed;
    border-color: red;
    text-align: center;
}
.red{
    color: red;
    font-weight: bold;
    font-style: italic;
}
.title{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: darkred;
    background-image: url("red bg.jpg");
}
div{
    margin: 0 20% 10% 20%;
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
}
.img{
    text-align: center;
    border-style: hidden;
}
.text{
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
}
.end{
    margin-bottom: 15px;
}
